@import 'flatly/variables';
@import 'bootstrap/variables';
@import 'bootstrap';
@import 'flatly/bootswatch';

.output-link {
  cursor: pointer;
}

.general-list {
  margin: 0;
  padding-left: 0;
  //list-style: none;

}

.list-item {
  margin: 0;
}

.checkbox {
  vertical-align: center;
}

.check-style {
  vertical-align: center;
  margin-right: 4px;
}
.output-image {
  width: 100%;
  height: 100%;
}
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 60px;
}

#ember-app {
  width: 100%;
}

.features {
  padding-bottom: 50px;
}

.card {
  background-color: #e5e5e5 !important;
  padding: 8px;
  min-height: 400px;

}

.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.custom-control {
  //float: left;
  height: 100%;
  //width: auto;
}
/*.ember-view .form-control {
  height: 100%;
  width: 40%;
  float: left;
  margin-right: 16px;
}*/
