<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Imbalanced Dataset</a>
    </div>
  </div>
</nav>

{{outlet}}